*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue-dark: #111827;
    --dark-gray:#030712;
     --white: #ffffff;
}

#config-header{
    background-color: var(--dark-gray);
}

#config-header button{
    color: var(--white);
}

#config-header img{
    width: 45px;
    height: 45px;
    border-radius: 15px;
}

#logo{
    background-color: var(--dark-gray);
}

#NameLogo{
    margin-top: 10px;
}

section {
  padding-bottom: 0;
  margin-bottom: 0;
}

#banner-pmal img{
    background-color: black;
    width: 100%;
    height: 100%;
}

#banner-pmal{
    margin-top: 25px;
    background-color: var(--dark-gray);
}

#banner-gcm img{
    background-color: black;
    height: 100%;
    width: 100%;
}

#banner-gcm{
    margin-top: 25px;
    background-color: var(--dark-gray);
}

#banner-cbmal img{
    background-color: black;
    height: 100%;
    width: 100%;
}

#banner-cbmal{
    margin-top: 25px;
    background-color: var(--dark-gray);
}

#banner-pcal img{
    background-color: black;
    height: 100%;
    width: 100%;
}

#banner-pcal{
    margin-top: 25px;
    background-color: var(--dark-gray);
}

#banner-pmpe img{
   background-color: black;
    height: 100%;
    width: 100%;
}

#banner-pmpe{
    margin-top: 25px;
    background-color: var(--dark-gray);
}
